{% extends 'base.html.twig' %}

{% block title %}New Annonces
{% endblock %}

{% block body %}
	<h1>Nouvelle annonce</h1>

	{{ include('admin/annonces/_form.html.twig') }}

	<a href="{{ path('app_annonces_index') }}">Retour à la liste</a>


	<script>
		var marque = $('#annonces_marque');
// When sport gets selected ...
marque.change(function () { // ... retrieve the corresponding form.

	
    // ... retrieve the corresponding form.
	var $form = $(this).closest('form');

    console.log($form);
    // Simulate form data, but only include the selected sport value.
    var data = {};
    data[marque.attr('name')] = marque.val();
    // Submit data via AJAX to the form's action path.
    jQuery.ajax({
        url : $form.attr('action'),
        type: "POST",
        data: data,
        success: function (html) {
            console.log(html)
            $("#annonces_modele").replaceWith(
                // ... with the returned one from the AJAX response.
                $(html).find("#annonces_modele")
            );
            // Position field now displays the appropriate positions.
        }})
    }
);
	</script>

{% endblock %}
