{% extends 'base.html.twig' %}

{% block title %}New Annonces
{% endblock %}

{% block body %}
	<h1>Nouvelle annonce</h1>

	{{ include('admin/annonces/_car_form.html.twig') }}

	<a href="{{ path('app_annonces_index') }}">Retour à la liste</a>

	<script src="{{asset('./js/ModeleFromMarque.js')}}"></script>

	//


{% endblock %}
